.main-banner {
    width: auto;
    height: 70%;
    background-color: purple;
    position: relative;
    font-family: 'Playfair Display', serif;
    color: #4c5454;
}
.main-banner__slider {
    height: 100%;
    width: auto;
    min-height: 425px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/c6-min.jpg);
    @include mobile{
        background-image: url(../images/c7-min.jpg);
        min-height: 520px;   
    } 
    @include mobile_wide{
        background-image: url(../images/bbbbbbbbbbb4-min.jpg); 
        background-position: 10% 0%; 
        min-height: 425px;       
    }     
}
.main-banner__content{
    //border: 1px solid brown;
    display: inline-block;
    position: absolute;
    bottom: 2%;
    margin: 0 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: $color-slider;
    @include mobile{
       width: 45%;
       left: 48%; 
       top: 20%;
    }
    @include mobile_wide{
        top: 30%; 
    }
    @include desktop{
        left: 40%; 
    }
    .main-banner__header {
        margin: 10px auto;      
        width: 90%;
        font-size: 24px;
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        letter-spacing: 0.1em;
        @include mobile_wide{
            font-size: 30px;
        }  
    }
    .main-banner__article{
        width: 90%;
        margin: 10px auto; 
        display: block;
        text-align: justify;
    }
}
.main-banner__container {
    @include mobile {
        // border: 1px solid green;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}
.btn{
    display: block;
    width: auto;
    margin: 0 auto; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 15px 15px;
    border-radius: 6px;
    @include mobile_wide{
        font-size: 16px;
    }
    @include desktop {
        padding: 20px 20px;
    }
    &--primary{
      background: $color-primary;
      color: $color-reset;
    }
    &:hover{
        background-color: $color-hover;
    }
}