$color-reset: #fff;
$color-primary: #4c5454; // główny kolor czcionki oraz w przyciskach
$color-light: #f1f1f1; // jasnoszary, np na przycisku
$color-hover: #ff907f; // efekt hover
$color-slider: rgb(124, 100, 73); // kolor na slider #1
